<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{# page.description }}
    <meta name="description" content="{{ . }}">
  {{/ page.description }}
    <meta name="author" content="{{ data.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    {{# stylesheets.load }}
      amazium.css
      amazium-percent.css
      base.css
      form.css
      layout.css
      google_prettify/twitter-bootstrap.css
      http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic+Droid+Sans:400,700
    {{/ stylesheets.load }}
    <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700' rel='stylesheet' type='text/css'>
    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>

<header role="banner">
    <div>
        <nav>
			<div class="brand">
				<div class="hide-mobile"><img src="{{urls.media}}/ich_conterfei_square_white.png"/></div>
				<a href="{{urls.base_path}}" class="logo">{{ data.title }}</a>
				<div class="hide-mobile"><em>Programmer - an organism that turns coffee into software</em></div>
			</div>
				<ul id="social-media">
				  <li>
					<a href="https://plus.google.com/{{ data.author.gplus }}" rel="social-googleplus" title="Google+" target="_blank">
					  <i class="fa fa-google-plus"></i>
					  <span class="screen-reader-text">G+</span>
					</a>
				  <li>
					<a href="https://github.com/{{ data.author.github }}" rel="social-github" title="GitHub" target="_blank">
					  <i class="fa fa-github"></i>
					  <span class="screen-reader-text">GitHub</span>
					</a>
				  </li>
				  <li>
					<a href="{{urls.base_path}}/posts/rss.xml" rel="social-rss" title="RSS">
					  <i class="fa fa-rss"></i>
					  <span class="screen-reader-text">RSS</span>
					</a>
				  </li>
				</ul>
            <a href="#" class="mobile-nav show-mobile"><i class="fa fa-bars"></i></a>
            <ul class="navigation" role="navigation">
            {{# data.navigation?to_pages }}
              {{> pages_list }}
            {{/ data.navigation?to_pages }}
			</ul>
		</nav>
	</div>
</header>
<div id="main">
<section class="row-max content">
	<div class="content">
		{{{ content }}}
	</div>
</section>
<footer>
      <div>
		  <div>
			  <!--
			<p>&copy; {{ data.author.name }} 2013
			  with help from <a href="http://ruhoh.com" target="_blank" title="The Definitive Technical Blogging Framework">ruhoh</a>
			  and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
			  -->
		  </div>
        </p>
      </div>
    </div>
</footer>
    {{{ widgets.google_prettify }}}
    <!-- mathjax -->
    {{{ widgets.mathjax }}}
    
    {{# javascripts.load }}
      jquery-1.8.0.min.js
      amazium.js
    {{/ javascripts.load }}

</div>
  </body>
</html>
